<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vocabolario</title>
  <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">VOCABOLARIO</a></h1>
    <ul>
      <% if (user) { %>
        <li>Dzień dobry, <%= user.email %></li>
        <li><a href="/logout">Wyloguj</a></li>
      <% } else { %>
        <li><a href="/login">Logowanie</a></li>
        <li><a href="/signup" class="btn">Rejestracja</a></li>
      <% } %>
    </ul>
  </nav>

<header>
  
  <div class="book">
    <img src="/img/book2.png" alt="">
  </div>
  <div class="headings">
    <h2>Skonfrontuj się</h2>
    <h3>ze słownictwem</h3>
    <a href="/main" class="btn">Zagraj</a>
  </div>
</header>
