<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabolario - Game 1</title>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="/styleM.css">
</head>
<body><div id="loader"></div>
    <div class="container1 hidden" id="container2">
        <div class="game1">
          <div class="headerG1">
        <!--<span class="icon1"><a href="mainphone.html"><ion-icon name="arrow-back-outline"></ion-icon></a><span class="title">Zaznacz odpo</span> </span>!-->
        <div class="titleGame">Zaznacz odpowiedź</div>
        <div class="icon4"><ion-icon name="ellipsis-vertical"></ion-icon></div>
    </div>
          <div id="hud">
            <div id="hud-item"> 
              <p class="hud-prefix">
              </p>
              <p class="hud-main-text" id="score">0
              </p>
              <div class="pBar">
                
            <div id="progessBar">
              <div id="progressBarFull"></div>
            </div>
            
          </div>
          <p id="progressText" class="hud-prefix1">
            <!--Question-->
          </p>
          </div>
            <div id="hud-item1">
             
          </div>  
          </div>
            <div class="question1">

                <h2 id="question"></h2></div>
            <div class="choice-container">
                <p class="choice-text" data-number="1"></p> 
            </div>
            <div class="choice-container">
                <p class="choice-text" data-number="2"></p> 
            </div>
            <div class="choice-container">
                <p class="choice-text" data-number="3"></p> 
            </div>
        </div>
    </div>
    <script src="../js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
